.button {
    border-radius: 1.2rem;
}

.button-small {
    width: 95px;
    height: 29px;
}

.button-medium {
    width: 117px;
    height: 38px;
}

.button-large {
    width: 136px;
    height: 44px;
}

.button-xlarge {
    width: 166px;
    height: 54px;
}

